<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <ul>
      {{#each files}}
          <li><a href="/{{this}}">{{this}}</a></li>
      {{/each}}
  </ul>
  </body>
</html>
